.header {
    width: 100%;
    padding: 15px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 154;
}

.navbar__collection.show {
    left: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__collection {
        display: flex;
        gap: 32px;
    }

    &__item {
        font-size: 18px;
        font-weight: 500;
        color: #000000;

        :hover {
            color: #545454;
        }
    }
}

@media (max-width:900px) {
    .navbar {
        &__collection {
            position: fixed;
            top: 0;
            left: -450px;
            width: 60%;
            background: #2c2929;
            color: #fff;
            height: 100vh;
            flex-direction: column;
            padding: 30px;
            color: #000;
            transition: .5s;
            align-items: center;
            justify-content: center;
        }

        &__menu {
            display: block;
        }
    }

}

@media (max-width:600px) {
    .navbar {
        &__shop {
            display: none;
        }
    }

}